<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link
            rel="stylesheet"
            href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
</head>
<body>
<head>
    <%- include('../../partials/navbar.ejs') %>.
</head>
<div class="container">
    <h2>Rij toevoegen</h2>
    <form action="/spanning/update" method="POST">
        <div class="form-group">
            <label for="nr">Nr.</label>
            <input type="number" class="form-control" id="nr"  name="nr" readonly="true" value="<%= data.nr %>"/>
        </div>
        <div class="form-group">
            <label for="date">Datum</label>
            <input type="date" class="form-control" id="date" value="<%= data.datum %>" name="date"/>
        </div>
        <div class="form-group">
            <label for="name">Naam</label>
            <input type="text" class="form-control" id="name" value="<%= data.naam %>"  name="name"/>
        </div>
        <div class="form-group">
            <label for="object">Object</label>
            <input type="text" class="form-control" id="object" value="<%= data.object %>" name="object"/>
        </div>
        <div class="form-group">
            <label for="reason">Reden</label>
            <input type="text" class="form-control" id="reason" value="<%= data.reden %>"  name="reason"/>
        </div>


        <div class="form-group">
            <label for="reason">Datum weg</label>
            <input type="date" class="form-control" id="date_away" value="<%= data.datum_weg %>" name="date_away"/>

        </div>

        <div class="form-group">
            <label for="reason">Naam weg</label>
            <input type="text" class="form-control" id="name_away" value="<%= data.naam_weg %>"  name="name_away"/>
        </div>

        <div class="form-group">
            <label for="spanning">Spanning</label><br>
            <select name="spanning" id="spanning">
                <% if(data.spanning == "Ja"){ %>
                    <option value="Ja" selected>Ja</option>
                    <%} else { %>
                    <option value="Ja">Ja</option>
                    <% } %>
                    <% if(data.spanning == "Nee"){ %>
                    <option value="Nee" selected>Nee</option>
                    <%} else { %>
                    <option value="Nee">Nee</option>

                    <% } %>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
</body>
</html>
